header{
    text-align: center;
    padding-bottom: 40px;
}
a:hover {
    color: aquamarine;
}
body{
    background: black;
    color: white;
}
h4{
    text-align:center;
}
.Keyboard{
    padding-left: 100px;
    padding-top: 30px;
    height: 400px;
}
footer{
    text-align: center;
}


